.FilterArea {
  margin-left: 260px;
  margin-bottom: 24px;
}

/* filter tab */
.FilterArea-filterTabs {
  display: flex;
  flex-direction: row;
}

/* search area */

.FilterArea .FilterArea-searchArea {
  background-color: lightgray;
  width: 90vw;
  height: 92px;
  margin: 24px 0 16px;
  padding: 20px 20px 20px;
  background-color: #f2f4f8;

  display: flex;
  flex-direction: row;
}

.FilterArea-searchArea-input {
  width: 150px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px rgba(25, 25, 25, 0.3);
  background-color: #fff;
}

.FilterArea-searchArea-item {
  margin-right: 50px;
}

.FilterArea-searchArea-buttonArea {
  display: flex;
  align-items: center;
}

.FilterArea
  .FilterArea-searchArea-buttonArea
  .FilterArea-searchArea-buttonArea-Buttons {
  width: 71px;
  height: 32px;
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* texts */
.FilterArea-resultText {
  width: 423px;
  height: 20px;
  margin: 48px 1237px 24px 20px;
  opacity: 0.8;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.FilterArea-searchArea-item .FilterArea-searchArea-filterText {
  width: 152px;
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.05px;
  color: rgba(0, 0, 0, 0.87);
}
